.map {
  height: 100%;
  width: auto;
}
// .button-container {
//   position: absolute;
//   top: 16px; /* Adjust the top position */
//   // left: 16px; /* Adjust the left position */
//   z-index: 9999; /* Ensure buttons are above the map */
// }
.button-container {
  position: absolute;
  top: 16px; /* Adjust the top position */
  right: 16px; /* Adjust the right position */
  z-index: 9999; /* Ensure buttons are above the map */
}
