<div class="p-3">
  <div class="flex justify-center logo mt-10">
    <img width="120" height="120" src="assets/icon1.png" alt="Logo" />
  </div>
  <div class="flex justify-center mt-3">
    <p class="text-lg text-black">Reset Password</p>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item class="border border-gray-300 rounded-full" lines="none">
            <ion-input type="password"  placeholder="New Password"></ion-input>
          </ion-item>
          <ion-item class="border border-gray-300 rounded-full mt-3" lines="none">
            <ion-input type="password"  placeholder="Confirm Password"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/login" class="btn_class" shape="round" color="danger" expand="block" >
          Reset Password
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
